<div id="clock-container">
  <h1 id="#clock-title">Countdown Clock</h1>
  <%= button_to("Begin", countdowns_path ) %>
</div>

<%= content_tag :div, class: "temp_information", data: {countdown: @countdown} do %>
<% end %>
