<h3>My Account</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<%= link_to "Update My Account Information", edit_user_path(current_user) %>
<br>
<% if current_user.admin? %>
  <%= link_to "Manage Users", users_path, class: "w3-grey w3-bar-item w3-button w3-left" %>
<% end %>