<p>
  <%= ff.label :name %>
  <%= ff.text_field :name %>
 </p>
 <p>
  <%= ff.label :update_player_packet %>
  <%= ff.file_field :player_packet %>
</p>
<p>----------------------------------------------</p>